<h1> Delete <%= @book.title%></hi>

<p>Press DELETE to confirm or <a href="/books/show">Return to Reading List</a></p>
<form action="/books/<%=book.id%>/delete" method="POST">
<input type="hidden" name="_method" value="delete" />
<input type="submit" value="DELETE"/>
</form>


