<% @books.each do |book| %>
<% binding.pry%>
  <%= book.title %><br />
  <%= book.author %> <br />
  <%= book.genre %> <br />
  <a href="/books/<%=book.id%>/edit">Edit</a>
  <br />
  <br />
<% end %>
