<h1>Add a New Book</h1>
<br />
    <li><a href="/books/index">Books Index</li></a>
    <li><a href="/books/show">Your Reading List</li></a>
    <br />
    <br />

<form action="/books" method="POST">
  <label> Title </label>
  <input type="text" name="title"> </br>

  <label> Author </label>
  <input type="text" name="author"> </br>

  <label> Genre </label>
  <input type="text" name="genre"> </br>

  <input type="submit" value="Add Book">
</form>
